<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.apro.recky.battleSpree">

    <application
            android:name="com.apro.recky.battleSpree.AppClass"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.apro.recky.battleSpree.views.ui.activities.TermsConditions">
        </activity>
        <activity
                android:name="com.apro.recky.battleSpree.views.ui.activities.TournamentDetails"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name="com.apro.recky.battleSpree.fcm.FcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
                android:name="com.apro.recky.battleSpree.views.ui.activities.AdminAddRoom"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.apro.recky.battleSpree.views.ui.activities.Login"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/filter_title_pubg">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                        android:host="www.example.com"
                        android:pathPrefix="/Encounter"
                        android:scheme="http"/>
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                        android:host="pubg"
                        android:scheme="example"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.apro.recky.battleSpree.views.ui.activities.PlayerActvity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="com.apro.recky.battleSpree.views.ui.activities.Splash"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>