<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.apro.recky.battleSpree">

    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_SMS"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".AppClass"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/battle_spree"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:label">
        <activity android:name=".views.ui.activities.player.PlayerResults"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".views.ui.activities.admin.ResultsActivity">
        </activity>
        <activity android:name=".views.ui.activities.admin.UpdateResults">
        </activity>
        <activity
                android:name=".views.ui.activities.player.AddMoney"
                android:configChanges="orientation|screenSize"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity
                android:name=".views.ui.activities.player.UserWallet"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".views.ui.activities.player.TermsConditions">
        </activity>
        <activity
                android:name=".views.ui.activities.player.TournamentDetails"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name=".fcm.FcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
                android:name=".views.ui.activities.admin.AdminAddRoom"
                android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
                android:name=".views.ui.activities.player.Login"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter android:label="@string/filter_title_pubg">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                        android:host="www.battlespree.com"
                        android:pathPrefix="/Encounter"
                        android:scheme="http"/>
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                        android:host="pubg"
                        android:scheme="appro"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".views.ui.activities.player.PlayerActvity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".views.ui.activities.player.Splash"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="instamojo.orderauth.url"
                android:value="https://elitesmurf.com/access_token.php"/>
    </application>

</manifest>